html {
    background-color: rgb(55, 55, 216);
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    text-align: center;

}
header {
    text-align: center;
}
 .row {
    border-color: aliceblue;
    display: grid;
    flex-direction: column;
 }
 .menu {
    list-style: none;
    text-indent: 50%;
    border-top-width: 15%;
    color: rgb(211, 186, 139);
 }
 
 .flex-box {
    border: 1px solid whitesmoke;
   

 }
 .navbar {
    border: 1px solid whitesmoke;
    
 }

 .row {
    border: 1px solid whitesmoke;

 }

 footer {
   display: inline;
   text-align: center;
 }
 @media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}