html {
    background-color: #252ACE;
    color: #dddee6;
}
li {
    list-style: none;
}
.flex-container {
    box-sizing: content-box;

}
.flex-container {
    display:flex;
}
.header {
    text-align: center;
    
}